.grid {
  margin-top: auto;
  background-color: white;
  position: relative;
}
.Usuarios {
  background-color: grey;
  margin-top: 1vh;
  outline: solid black 1px;
}

.botones {
  margin-top: 1vh;
}
.btnEstado {
  margin-right: 1vh;
  background-color: #4075c7;
  color: black;
  margin: 1vh;
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
}
.btnEstado:hover,
.btnIniciar:hover,
.btnFail:hover,
.btnHistory:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
}
.btnIniciar {
  margin-right: 1vh;
  background-color: #4caf50;
  color: black;
  margin: 1vh;
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
}
.btnFail {
  margin-right: 1vh;
  background-color: #e7bc40;
  color: black;
  border: none;
  margin: 1vh;
  padding: 12px 28px;
  border-radius: 12px;
}
.btnHistory {
  margin-right: 1vh;
  background-color: #7c7972;
  color: black;
  border: none;
  margin: 1vh;
  padding: 12px 28px;
  border-radius: 12px;
}
.btnCompleted {
  background-color: #28c242;
  color: black;
  border: none;
  margin: 1vh;
  padding: 12px 28px;
  border-radius: 12px;
  margin-right: 1vh;
}
.btnFinished{
  background-color: greenyellow;
  color: black;
  border: none;
  margin: 1vh;
  padding: 12px 40px;
  border-radius: 12px;
  margin-right: 1vh;

}
.btnIniciar {
  background-color: #18cabb;
  color: black;
  border: none;
  margin: 1vh;
  padding: 10px 28px;
  border-radius: 12px;
  margin-right: 1vh;
}