.chat-container {
    margin: 5px;
    display: flex;
    width: 75%;
    height: 75%;
    flex-flow: column;
    border-top-left-radius: 6px;
    border-top-right-radius: 28px;
    box-shadow: 0 -5px 5px #cecece;
}

.chat-message-container {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    padding: 20px;
    background-color: #f1f3f5;

}

.chat-message-container::-webkit-scrollbar {
    width: 9px;
}
.chat-message-container::-webkit-scrollbar-thumb {
    background-color: rgba(76, 76, 76, 0.3);
    border-radius: 9px;
}
.chat-message-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(76, 76, 76, 0.5);
}
