.chat-input-bar {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #7f7d7d;
    padding: 10px;
}

.chat-input-message {
    flex-grow: 1;
    padding: 8px;
    border-radius: 50px;
    border: none;
}
.chat-input-message:focus {
    outline: none;
}
