

.chatRep {
  display: flex;
  background-color: azure;
  flex-grow: 1;
  margin-top: 2%;
  margin-left: 10%;
  max-width: 70%;
  height: 500px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: #000;
  align-items: flex-end;
  border-radius: 3%;
  flex-direction: column;
}
.chartSpace {
  display: flex;
  background-color: azure;
  width: 90%;
  flex-grow: 60;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: #000;
  align-items: flex-end;
  border-radius: inherit;
}
.chartHeader {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}
img {
  min-width: 100%;
  height: auto;
}
.separator {
  width: 10%;
}

.bt{
  position: relative;
  top: 90px;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin: 0 420px;
  padding: 20px 70px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.80, 0.40, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.80, 0.40, 1);
}

.btn-accep {
  background-color: #474747;
}

.btn-accep:hover {
  background-color: #727272;
}