.custom-ul{
    list-style-type: none;
}

.margin-zero{
    margin: 0%;
}

.shopContainer{
   
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.eShopTitle{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.eProductCard{
    display: flex;
    border-radius: 5px;
    height: 375px;
    width: 250px;
    box-shadow: 3px 3px 3px 3px #545454;
}

.disabled{
    opacity: 50%;
}

.qtyInput{
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}

.productImage{
    height: 150px;
    width: 250px;
    justify-self: center;
    padding: 0%;
    margin-left: 0%;
}

.eCart{
    font-size: 34px;
}