.custom-ul{
    list-style-type: none;
    display: block;
}

.margin-zero{
    margin: 0%;
}

.shopContainer{
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.eShopHeader{
    display: flex;
    background-color: #404041;
    height: 65px;
    padding-bottom: 10px;
}

.eShopTitle{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-self: center;
    color: white;
}

.eProductCard{
    display: flex;
    align-self: center;
    margin-top: 30px;
    border-radius: 5px;
    height: 575px;
    width: 350px;
    box-shadow: 3px 3px 3px 3px #545454;
    transition: all 300ms ease;
}

.eProductCard:hover{
    transform: translateY(-10px);
    opacity: 80%;
}

.disabled{
    opacity: 50%;
}

.qtyInput{
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}

.productImage{
    height: 30%;
    width: 100%;
    padding: 0%;
    margin-left: 0%;
}

.addBtn{
    margin: 0px;
    background: #f0f0f0;
    background: linear-gradient(to left, #f0f0f0 50%, rgb(58, 104, 255) 50%) right;
    background-size: 200%;
    transition: 200ms ease-out;
}

.addBtn:hover{
    background-position: left;
}

.eCart{
    font-size: 34px;
}