.custom-ul {
  list-style-type: none;
  display: block;
}

.margin-zero {
  margin: 0%;
}

.shopContainer {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #efefef;
}

.eShopHeader {
  background-color: #404041;
  height: 64px;
}

.priceLimits {
  margin-top: 2vh;
  border-radius: 8px;
  color: white;
  background-color: #404041;
  height: 3.2vh;
  width: 4vw;
  padding: 0;
  padding-right: 8px;
}

#minAmmount {
  margin-left: 5vw;
}

.searchBarShop {
  width: 5vw;
  height: 4vh;
  display: inline;
}

.lupaSearch {
  margin-top: 2vh;
  font-size: 2em;
  color: white;
  padding: 0;
  width: auto;
}

.searchInput {
  margin-top: 1vh;
  border-radius: 8px;
  color: white;
  background-color: #404041;
  height: 4.5vh;
  width: 20vw;
}

.eShopTitle {
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: end;
  margin-right: 15vw;
  padding-top: 8px;
}

.eProductCard {
  align-self: center;
  margin: 32px;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #545454;
  transition: all 1s ease;
  zoom: 0.85;
  background-color: white;
}
.eProductCard:hover {
    box-shadow: 3px 3px 3px 3px #545454;
    transition: all 1s ease;
  }

.eProductCard:hover {
  transform: translateY(-10px);
}

.productName {
  width: 100%;
  text-align: center;
  font-size: 3vw;
}

.disabled {
  opacity: 50%;
}

.qtyInput {
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.productImage {
  height: 200px;
  width: 100%;
  padding: 20px;
  object-fit: fill;
}

.addBtn {
  background: linear-gradient(to left, #f0f0f0 50%, rgb(39, 155, 15) 50%) right;
  background-size: 200%;
  transition: 500ms ease-out;
  height: 50px;
  width: 43%;
  border-radius: 10px;
  margin: 2vh;
  margin-left: 52%;
}
.addBtn:hover {
    color: #fff;
  }

.soldOutBtn {
    color: #000;
  height: 50px;
  width: 43%;
  border-radius: 10px;
  margin: 2vh;
  margin-left: 52%;
}

.prodDescription {
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  max-height: 10vh;
  overflow: auto;
}

.productPrice {
  font-size: 1.5vw;
}

.addBtn:hover {
  background-position: left;
}

.addBtn:active {
  background: rgb(52, 207, 46);
}

.eCart {
  font-size: 34px;
}

.center-items{
    padding-left: 15% !important;
}