* {
    margin : 0;
    padding : 0;
}

.floating-button-chat{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom : 20px;
    right: 20px;
    color: white !important;
    cursor: pointer;
    overscroll-behavior: contain;
    background-color: rgb(58, 104, 255);
    border-radius: 50%;
    border-style: none;
    transition: transform 300ms ease-in;
}

.floating-button-chat:hover{
    transform: scale(1.1);
    background-color: rgb(42, 73, 173);
}

.floating-button-chat:active{
    box-shadow: 0px 0px 5px 1px #808080;
}

.fab-icon-holder{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: blue;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
