* {
    margin : 0;
    padding : 0;
}

.floating-button-chat{
    position: fixed;
    bottom : 20px;
    right: 20px;
    cursor: pointer;
    overscroll-behavior: contain;
    overflow: hidden;
    background-color: rgb(58, 104, 255);
    border-radius: 50%;
    padding: 10px 5px 10px 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab-icon-holder{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: blue;
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}
