@import '../node_modules/bootstrap/scss/bootstrap';

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

.chatRep {
  display: flex;
  background-color: azure;
  flex-grow: 1;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: #000;
  align-items: flex-end;
  border-radius: 3%;
  flex-direction: column;
}
.chartSpace {
  display: flex;
  background-color: azure;
  width: 90%;
  flex-grow: 60;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  color: #000;
  align-items: flex-end;
  border-radius: inherit;
}
.chartHeader {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}
img {
  min-width: 100%;
  height: auto;
}
.separator {
  width: 10%;
}
